
      <div
        class="container-fluid border-bottom border-dark text-center fs-3 fw-bold mt-0"
      >
        Cart
      </div>
      <div
        class="container-fluid d-flex flex-wrap justify-content-center gap-2 py-3"
      >
      
        <!-- cards -->
        <div class="card rounded-4 card-hover" style="width: 20rem">
          <img src="./assects/iphone-17.png" class="card-img-top" alt="" />
          <div class="card-body">
            <div class="card-title fs-5 fw-bold mb-0">Product name</div>
            <span class="text-muted">Category</span>
            <div class="card-text mt-2">
              <p class="text-truncate fs-6">
                decription of the product and trancate it......
              </p>
              <div class="d-flex justify-content-between">
                <div class="text-dark fs-5 fw-semibold">Price</div>
                <div class="text-black fs-6 fw-medium">rating</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-4 card-hover" style="width: 20rem">
          <img src="./assects/iphone-17.png" class="card-img-top" alt="" />
          <div class="card-body">
            <div class="card-title fs-5 fw-bold mb-0">Product name</div>
            <span class="text-muted">Category</span>
            <div class="card-text mt-2">
              <p class="text-truncate fs-6">
                decription of the product and trancate it......
              </p>
              <div class="d-flex justify-content-between">
                <div class="text-dark fs-5 fw-semibold">Price</div>
                <div class="text-black fs-6 fw-medium">rating</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-4 card-hover" style="width: 20rem">
          <img src="./assects/iphone-17.png" class="card-img-top" alt="" />
          <div class="card-body">
            <div class="card-title fs-5 fw-bold mb-0">Product name</div>
            <span class="text-muted">Category</span>
            <div class="card-text mt-2">
              <p class="text-truncate fs-6">
                decription of the product and trancate it......
              </p>
              <div class="d-flex justify-content-between">
                <div class="text-dark fs-5 fw-semibold">Price</div>
                <div class="text-black fs-6 fw-medium">rating</div>
              </div>
            </div>
          </div>
        </div>

        <div class="card rounded-4 card-hover" style="width: 20rem">
          <img src="./assects/iphone-17.png" class="card-img-top" alt="" />
          <div class="card-body">
            <div class="card-title fs-5 fw-bold mb-0">Product name</div>
            <span class="text-muted">Category</span>
            <div class="card-text mt-2">
              <p class="text-truncate fs-6">
                decription of the product and trancate it......
              </p>
              <div class="d-flex justify-content-between">
                <div class="text-dark fs-5 fw-semibold">Price</div>
                <div class="text-black fs-6 fw-medium">rating</div>
              </div>
            </div>
          </div>
        </div>
      </div>
