<div class="container mt-4" id="productDetailsContainer">
  <div class="row">
    <!-- Image -->
    <div class="col-md-5">
      <img
        id="productImage"
        class="img-fluid rounded border"
        height="400"
        width="400"
        src=""
      />
    </div>

    <!-- Details -->
    <div class="col-md-7">
      <h3 id="productName"></h3>

      <p class="text-muted" id="productCategory"></p>

      <h4 class="text-success" id="productPrice"></h4>

      <p id="productDescription"></p>

      <p><strong>Stock:</strong> <span id="productStock"></span></p>

      <div class="d-flex gap-2 align-items-center justify-content-center mb-3">
        <button class="btn btn-outline-secondary" id="decreaseQty">-</button>

        <input
          type="number"
          id="quantityInput"
          value="1"
          min="1"
          class="form-control text-center"
          style="width: 70px"
        />

        <button class="btn btn-outline-secondary" id="increaseQty">+</button>

        <button class="btn btn-dark" id="addToCartBtn" >Add to Cart</button>
      </div>
    </div>
  </div>
</div>
