<div class="col-md-6 col-lg-5" id="verifyEmail">
  <div class="card rounded-4 shadow-lg border-0">
    <div class="card-body p-4">
      <div class="d-flex justify-content-between align-items-center mb-1">
        <div class="fs-5 fw-bold">Verify</div>
        <button class="btn btn-sm btn-white" id="cancleVerifyEmail">
          <i class="bi bi-x fs-4"></i>
        </button>
      </div>
      <div class="mb-3">
        <label class="form-label" for="validateEmailInput">Email</label>
        <div class="input-group">
          <input
            type="email"
            id="validateEmailInput"
            class="form-control"
            placeholder="Enter your email"
            required
          />
          <button class="btn btn-dark">Get OTP</button>
        </div>
        <small class="text-danger d-none" id="validateEmailInputError"
          >Invalid email!!!</small
        >
      </div>
      <div class="mb-3 d-none" id="otpInputField">
        <label class="form-label" for="otpInput">Enter OTP</label>
        <input
          type="text"
          id="otpInput"
          class="form-control"
          placeholder="XXX-XXX"
          required
        />
        <small class="text-danger d-none" id="passwordInputError"
          >Invalid OTP!!!</small
        >
      </div>

      <button class="btn btn-dark w-100" disabled>Verify</button>

      <div class="text-center mt-3"></div>
    </div>
  </div>
</div>
