* {
  box-sizing: border-box;
  font-family: cursive;
}

body {
  padding: 0;
  margin: 0;
}

.nav-hover:hover {
  color: rgb(249, 81, 81) !important;
}

.dark-dropdown:hover {
  color: black !important;
}
.bg-lightBlue {
  background-color: rgb(21, 25, 52);
}

.footer-hover:hover {
  color: white !important;
}

.card-hover:hover {
  transform: scale(1.015);
  transition: all 0.1s ease-in-out;
}
